{% if S_USER_REPORTS %}
	<div class="panel">
		<div class="inner">
			<h3>{{ lang( 'MCP_USER_REPORTS_LATEST_TITLE' ) }}</h3>
			<p>{{ MCP_USER_REPORTS_LATEST_OVERVIEW }}</p>
			{% if USER_REPORTS %}
				<table class="table1">
					<thead>
						<tr>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_USERNAME' ) }}</th>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_REASON' ) }}</th>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_TIME' ) }}</th>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_REPORTER' ) }}</th>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_REVIEW' ) }}</th>
						</tr>
					</thead>
					<tbody>
					{% if USER_REPORTS %}
						{% for report in USER_REPORTS %}
							<tr class="bg1">
								<td>
									{% if report.reported_user %}
										{{ report.reported_user }}
									{% else %}
										{{ report.reported_user_id }}
									{% endif %}
								</td>
								<td>{{ report.report_text }}</td>
								<td>{{ report.report_time }}</td>
								<td>
									{% if report.reported_by %}
										{{ report.reported_by }}
									{% else %}
										{{ report.reported_by_user_id }}
									{% endif %}
								</td>
								<td>
									<a href="{{ report.report_details_link }}" class="button small">{{ lang( 'MCP_USER_REPORTS_BUTTON_VIEW_REPORT' ) }}</a>
								</td>
							</tr>
						{% endfor %}
					{% else %}
						<tr class="bg1">
							<td class="center" colspan="5"><strong>{{ lang( 'MCP_USER_REPORTS_NO_RESULTS' ) }}</strong></td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
{% endif %}
