{% include 'mcp_header.html' %}

<h2>{{ USER_REPORTS_TITLE }}</h2>

<form action="{{ USER_REPORT_ACTION }}" method="post" id="mcp_user_reports">

	<div class="panel" class="user-report-list">
		<div class="inner">
			<p>{{ USER_REPORTS_EXPLAIN }}</p>
			<div class="action-bar bar-top">
				<div class="pagination">
					{{ TOTAL_REPORTS }}
					{% if pagination %}
						{% include 'pagination.html' %}
					{% endif %}
				</div>
			</div>
			<table class="table1 responsive">
				<thead>
					{% if USER_REPORTS %}
						<tr>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_USERNAME' ) }}</th>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_REASON' ) }}</th>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_TIME' ) }}</th>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_REPORTER' ) }}</th>
							<th class="name">{{ lang( 'MCP_USER_REPORTS_COLUMN_REVIEW' ) }}</th>
							<th>{{ lang( 'MARK' ) }}</th>
						</tr>
					{% else %}
						<tr>
							<th class="name" colspan="5">{{ lang( 'REPORTS' ) }}</th>
						</tr>
					{% endif %}
				</thead>
				<tbody>
					{% if USER_REPORTS %}
						{% for report in USER_REPORTS %}
							<tr class="bg1">
								<td>
									{% if report.reported_user %}
										{{ report.reported_user }}
									{% else %}
										{{ report.reported_user_id }}
									{% endif %}
								</td>
								<td>{{ report.report_text }}</td>
								<td>{{ report.report_time }}</td>
								<td>
									{% if report.reported_by %}
										{{ report.reported_by }}
									{% else %}
										{{ report.reported_by_user_id }}
									{% endif %}
								</td>
								<td>
									<a href="{{ report.report_details_link }}" class="button small">{{ lang( 'MCP_USER_REPORTS_REVIEW_REPORT' ) }}</a>
								</td>
								<td class="mark"><input type="checkbox" name="report_item[{{ report.report_id }}]" id="report-0" value="{{ report.report_id }}" /></td>
							</tr>
						{% endfor %}
					{% else %}
						<tr class="bg1">
							<td class="center" colspan="5"><strong>{{ lang( 'MCP_USER_REPORTS_NO_RESULTS' ) }}</strong></td>
						</tr>
					{% endif %}
				</tbody>
			</table>
			<div class="action-bar bar-bottom">
				<div class="pagination">
					{{ TOTAL_REPORTS }}
					{% if pagination %}
						{% include 'pagination.html' %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% if USER_REPORTS %}
	<fieldset class="display-actions">
		{{ S_FORM_TOKEN }}
		<input type="submit" name="submit[delete]" class="button2" value="{{ lang( 'DELETE_REPORTS' ) }}" />
		{% if OPEN_REPORTS %}
			&nbsp;<input type="submit" name="submit[close]" class="button1" value="{{ lang( 'CLOSE_REPORTS' ) }}" />
		{% endif %}
		<div><a href="#" onclick="marklist( 'mcp_user_reports', 'report_item', true ); return false;">{{ lang( 'MARK_ALL' ) }}</a> :: <a href="#" onclick="marklist( 'mcp_user_reports', 'report_item', false ); return false;">{{ lang( 'UNMARK_ALL' ) }}</a></div>
	</fieldset>
	{% endif %}

</form>

{% include 'mcp_footer.html' %}
